body {
    background-color: #34495e;
    color: #ecf0f1;
}
.main{
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
ul {
    text-align: left;
    font-size : 1.5em;
}
.clicked {
    color: #7f8c8d;
}
h1 {
    font-size : 8em;
    margin : 1px;
}
h4{
    font-size : 2em;
    margin-top : 1px;
    margin-bottom : 10px;
}

.form, .greetings {
    display: none;

}

.showing {
    display: block;
}

.btn {
    cursor: pointer;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}
.js-weather {
    float : right;
    font-size : 1.5em;
}

